
apicreditoassets/apicreditoassets/__pycache__/

apicreditoassets/banco_b/bin/__pycache__/

apicreditoassets/banco_b/

apicreditoassets/core/__pycache__/

apicreditoassets/core/migrations/__pycache__/

apicreditodebits/\.idea/

apicreditodebits/apicreditodebits/__pycache__/

apicreditodebits/banco_a/

apicreditodebits/core/__pycache__/

apicreditodebits/core/migrations/__pycache__/
